@font-face {
    font-family: Roboto-Light;
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}
/* Body displays in flex column for footer nav and main*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #C586F9;
    /* þeta fuckar öllu upp ....*/
    /*align-items: center;*/
}
/* Body End*/

/* Nav Start*/
nav #navul{
    width: 100%;
    display: flex;
    background-color: #7521B9;
    height: 50px;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 12px;
    font-family: Roboto-Light;
}
nav #navul li{
    font-weight: 800px;
    font-size: 20px;
    margin-left: 15px;
}
/*nav #navul li a{
    color: white;
    text-decoration: none;
}
nav #navul li a:hover{
    text-decoration: none;
    color: white;
}*/
#search{
    font-weight: 800px;
    border:none;
    font-size: 16px;
    background-color: #C586F9;
    height: 25px;
    padding: 3px;
    color: white;
    width: 400px;
}
::-webkit-input-placeholder{
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
#search:focus{
    outline: 0;
}
.icon{
    color: white;
}
.searchDiv{
    display: flex;
    justfy-content: center;
    align-items: center;
}
/* some flexbox dropdown attempts*/
#drop{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 57px;
  right: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  border: 4px solid #7521B9;
  padding: 5px;


/* trasition styles*/
  display: none;

  background-color: #C586F9;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;

}
#drop li{
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all linear 0.1s;
  display: block;
  color: white;
  margin-top: 5px;
  /*border-bottom: 1px solid black;*/
  width: 100%;
}
#drop li:last-child{
border:none;
}
#drop li a{
  align-items: flex-start;
  color: white;
  display: flex;
  max-width: 130px;
  text-decoration: none;
  transition: all linear 0.1s;
  display: block;
  margin: 0 auto;


}
li:hover #drop{
  display: flex;
}

.arrow{
  width: 0;
  height: 0;
  position: absolute;
  top:52px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: none;
  border-bottom: 5px solid #7521B9;
}
li:hover  .arrow{
  display: block;
}
/* Nav End */
/* Main Start */
#main{
    border: 0 1px solid black;
    // width: 100%;
    // display: flex;
    width:800px;
    // flex-direction:
    // justify-content: center;
    margin:0 auto;
}
.text{
  width: 60%;
}
/* Main End */

/* Footer Start*/
footer{
    // width: 100%;
    display: flex;
    background-color: #7521B9;
    height: 50px;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    padding: 12px;
    font-family: Roboto-Light;
}
/* Footer End*/
