#main h1{
  font-size: 27px;
  margin: 8px;
}
.allSubjects{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.allGrades{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#bodyUserSettings #form{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#bodyUserSettings #form button{
  border-radius: 5px;
  border:none;
  align-self: flex-start;
  margin-top: 12px;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display: inline-block;
    padding:10px;
    margin:3px;
    border:1px solid black;
    border-radius: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="checkbox"]:checked + label span{
    background-color: #B15FF3;
}
.chosenTag{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}